.jumbotron {
  background-color: white;
  text-align: center;
}

.my-photo {
  padding: 5%;
  border-radius: 50%;
}

.background {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16pt;
}

.row {
  padding-left: 20%;
  padding-right: 20%;
}
