

.jumbotron {
  background-color: white;
  text-align: center;
}

.my-photo {
  padding: 1%;
  max-width: 80vw;
}

.about {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.row {
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

.list-font {
  font-size: 1.5vw;
}
