
.jumbotron {
  background-color: white;
  text-align: center;
}

.photo-body {
  padding-bottom: 5%;
}

.menu-color {
  color: rgb(51, 51, 51);;
}

.top-menu {
  text-align: center;
}

.my-photo {
  display: block;
  margin: auto;
  padding-bottom: 2%;
  border-radius: 50%;
}

.contact-info {
  text-align: center;

}

.projects1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
