
.jumbotron {
  background-color: white;
}

#main-title {
  float: left;
  margin-left: 30px;
}

h1 {
  text-align: center;
}

.photo-body {
  padding-bottom: 5%;
  padding-top: 10%;
}

.navbar {
  float: right;
  color: red;
}

.navbar-brand {
  color: rgb(51, 51, 51);
}

.my-photo {
  display: block;
  margin: auto;
  padding-bottom: 2%;
  border-radius: 50%;
}

.contact-info {
  text-align: center;

}

.projects1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*About Page*/
.about-photo {
  padding: 5%;
  border-radius: 50%;
}

.row {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.background {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16pt;
}

/*Interests Page*/

.about {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.list-font {
  font-size: 1.5vw;
}
